body{
    background-color: #181733 ;
}

.colorcanva{
    background-color: #181733 ;  
}

.offcolor{
  background-color: #9b0041 !important;
}

nav{
    background-color: #181733 ;
}
.logo{
    font-family: 'Vina Sans', cursive;
    font-size: 48px;
}

.Njugador{
   text-align: center;
   margin-top: 8px;
   font-size: 35px;
   font-family: "Bebas Neue", serif;
   font-weight: 500;
   font-style: normal;
}

#carouselFC{
    margin-top: 110px;
}

footer{
  background-color: #9b0041 !important;
}

h2{
    font-family: "Bebas Neue", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
}

h3{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    background-color: #9b0041 !important;
}

/* Contenedor con zoom y reflejo */
.img-container {
    position: relative; /* Necesario para ::after */
    display: inline-block;
    overflow: hidden; /* Oculta el exceso */
    transform: scale(var(--escala, 1)); /* Zoom inicial */
    transition: transform 0.25s ease; /* Suaviza el zoom */
  }
  
  /* Efecto de reflejo */
  .img-container::after {
    content: "";
    position: absolute;
    top: -150%; /* Fuera del contenedor */
    left: -150%; /* Comienza fuera del borde */
    width: 300%; /* Más ancho que el contenedor */
    height: 300%; /* Asegura que el reflejo cubra */
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0) 70%
    ); /* Gradiente del reflejo */
    transform: rotate(25deg); /* Ángulo del reflejo */
    transition: top 0.5s ease, left 0.5s ease; /* Movimiento suave */
    pointer-events: none; /* Evita interferencias */
    z-index: 1; /* Asegura que esté sobre la imagen */
  }
  
  /* Zoom y reflejo en hover */
  .img-container:hover {
    --escala: 1.05; /* Efecto de zoom */
  }
  
  .img-container:hover::after {
    top: 50%; /* Reflejo visible */
    left: 50%;
  }

  img:hover{
    cursor: pointer;
  }
  

  