body{
    background-color: #181733 ;
}

.colorcanva{
    background-color: #181733 ;  
}

.offcolor{
  background-color: #9b0041 !important;
}

nav{
    background-color: #181733 ;
}
.logo{
    font-family: 'Vina Sans', cursive;
    font-size: 48px;
}

.Njugador{
   text-align: center;
   margin-top: 8px;
   font-size: 35px;
   font-family: "Bebas Neue", serif;
   font-weight: 500;
   font-style: normal;
}

#carouselFC{
    margin-top: 110px;
}

footer{
  background-color: #9b0041 !important;
}

h2{
    font-family: "Bebas Neue", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
}

h3{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    background-color: #9b0041 !important;
}


.img-container {
    position: relative; 
    display: inline-block;
    overflow: hidden;
    transform: scale(var(--escala, 1)); 
    transition: transform 0.25s ease; 
  }
  
  /* Efecto de reflejo */
  .img-container::after {
    content: "";
    position: absolute;
    top: -150%; 
    left: -150%; 
    width: 300%; 
    height: 300%; 
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0) 70%
    ); 
    transform: rotate(25deg); 
    transition: top 0.5s ease, left 0.5s ease; 
    pointer-events: none; 
    z-index: 1; 
  }
  
  /* Zoom y reflejo en hover */
  .img-container:hover {
    --escala: 1.05; 
  }
  
  .img-container:hover::after {
    top: 50%; 
    left: 50%;
  }

  img:hover{
    cursor: pointer;
  }
  

  